
/* font for brand */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap");

/* font for nav items */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");



@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.intropage{
    font-family: "Merriweather Sans";
}

.at-font{
    font-family: "Dancing Script";
    color: black;
}

.brand-color{
    color: #F38181;
}

.navbar-brand{
    font-family: 'Merriweather Sans';
    font-weight: 700;
}



.copyright{
    font-weight: 100;
    font-size: x-small;
}





