
/* font for brand */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap");

/* font for nav items */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");



@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.intropage{
    font-family: "Merriweather Sans";
}

.at-font{
    font-family: "Dancing Script";
    color: black;
}

.brand-color{
    color: #F38181;
}

.navbar-brand{
    font-family: 'Merriweather Sans';
    font-weight: 700;
    
}

.reg{
    font-family: 'Merriweather Sans';
}


.copyright{
    font-weight: 100;
    font-size: small;
    color: #A5D7E8;
}

.background {
    background-color: #A5D7E8;
}

.header-color{
    background-color: #0B2447;
}

.brand {
    color: #fff;
    
}

.brand-title{
    font-size: larger;
    vertical-align: bottom;
}

.footer{
    background-color: #19376D;
}

.brand-logo{
    vertical-align: bottom;
    margin-right: .75vh;
    height: 40px;
    width: 40px;
}

.jbptl{
    min-height: 100vh;
}

.center{
    text-align: center;
}

.dropdown-menu > .dropdown-item{
    color: #fff;
}


.dropdown > .dropdown-menu{
    background-color: #19376D;
    /* margin-top: auto; */
    border-radius: 0;
    border-top: none;
}

.dropdown > .dropdown-toggle{
    color: white;
}


.nav-link{
    height: 100%;
    margin-right: 1vh;
}

.introbg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/introbg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
   
    
}

.enterlogo{
    height: 24px;
    width: 24px;
    vertical-align: bottom;
    margin-right: .5vh;
}

.introcontainer{
    
    padding-top: 5%;
    display: flex;
    
    
}

.introicons{
    height: 10rem;
    width: auto;
    border-radius: 2rem;
    align-items: left;
}

.introheader{
    border-radius: 2rem;
    text-align: left;
    font-weight: 600;
    font-family: 'Fredericka the Great', cursive;
    font-size: 7.1vh;
    color: #FFB84C;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
    text-shadow: 4px 4px 4px rgba(11,36,71,0.8);
}

.intro-subheading{
    color: aliceblue;
    font-size: 1.5rem;
}

.register-btn-left {
    background: #0B2447;
    border-width: 4px;
    border-color: #fff;
    border-radius: 4px;
    font-family: "Arial";
    color: #fff;
    font-size: 1.2em;
    padding: 1.2em 3rem 1.2em 3rem;
    text-decoration: none;
  }
  
.register-btn-left:hover {
    color: #0B2447;
    background-color: #fff;
    font-size: 1.2rem;
    border-color: #0B2447;
}

.register-btn-right {
    background: #fff;
    border-width: 4px;
    border-color: #fff;
    border-radius: 4px;
    font-family: "Arial";
    color: #0B2447;
    font-size: 1.2em;
    padding: 1.2em 3em 1.2em 3em;
    text-decoration: none;
  }
  
.register-btn-right:hover {
    color: #fff;
    background-color: #0B2447;
    font-size: 1.2em;
    border-color: #0B2447;
}

.align-items-right{
    text-align: right;
}

.align-items-left{
    text-align: left;
}

.haveaccount-left{
    color: #A5D7E8;
}

.jobseeker-login {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/jobseeker.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top left;
    min-height: 100vh;
}

.login-form{
    border-radius: 1.2em;
    min-height: 40vh;
    height: fit-content;
    width: 55vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.login-form-h1{
    font-size: 5vh;
    font-weight: 600;
    padding-bottom: 1rem;
}

.recruiter-login{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/recruiterloginbg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    min-height: 100vh;
}

.admin-login{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/adminloginbg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top left;
    min-height: 100vh;
}

.jobseeker-reg{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/jobseekerregbg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top left;
    height: fit-content;
    min-height: 100vh;
}

.reg-form{
    border-radius: 5px;
    min-height: 90vh;
}

.reg-form-logo{
    height: 6.3rem;
}
.rectruiter-reg{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/recruiterregbg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top left;
    height: fit-content;
    min-height: 100vh;
}




.role-name{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    
}

.company-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.jobad-headings{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.dflex{
    display: flex;
    justify-content: space-between;
}



.job-ad{
    border: 1px solid rgba(125, 125, 125, 0.3);
    border-radius: 8px;
}

.readmore{
    color: blue;
    text-align: right;
}

.readless{
    color: red;
    text-align: right;
}

.date{
    color: rgba(127, 127, 127, 0.6);
    font-size: small;
}

.map{
    height: 1.3rem;
    margin-right: 1rem;
}