
/* font for brand */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap");

/* font for nav items */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");



@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.intropage{
    font-family: "Merriweather Sans";
}

.at-font{
    font-family: "Dancing Script";
    color: black;
}

.brand-color{
    color: #F38181;
}

.navbar-brand{
    font-family: 'Merriweather Sans';
    font-weight: 700;
}

.reg{
    font-family: 'Merriweather Sans';
}


.copyright{
    font-weight: 100;
    font-size: small;
}

.background {
    background-color: #A5D7E8;
}

.header-color{
    background-color: #0B2447;
}

.brand {
    color: #fff;
}

.footer{
    background-color: #19376D;
}

.jbptl{
    min-height: 100vh;
}

.center{
    text-align: center;
}

.dropdown-menu > .dropdown-item{
    color: #fff;
}


.dropdown > .dropdown-menu{
    background-color: #19376D;
    /* margin-top: auto; */
    border-radius: 0;
    border-top: none;
}